
Listen 8080
<VirtualHost 46.29.160.121:8080>
	ServerName waronmap.com
	ServerAdmin webmaster@localhost

	AllowEncodedSlashes NoDecode

	DocumentRoot /app/html
	<Directory /app/html>
		Require all granted
		AllowOverride None
		Options MultiViews ExecCGI
		MultiviewsMatch Handlers
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
	
	#use "production" for production
	SetEnv ENV dev

	WSGIScriptAlias /route /app/wsgi_app/route.py
	WSGIScriptAlias /nearest /app/wsgi_app/nearest.py
	WSGIScriptAlias /incity /app/wsgi_app/incity.py
	WSGIScriptAlias /land /app/wsgi_app/land.py
	WSGIScriptAlias /water /app/wsgi_app/water.py
	WSGIScriptAlias /route_railway /app/wsgi_app/route_railway.py
	WSGIScriptAlias /nearest_railway /app/wsgi_app/nearest_railway.py


	WSGIDaemonProcess waronmap.com python-home=/app/env python-path=/app/pylibs
	WSGIProcessGroup waronmap.com
</VirtualHost>
