
Listen 8080
<VirtualHost *:8080>
	ServerName geoserver.py
	ServerAdmin webmaster@localhost


	DocumentRoot /var/www/Geo-server/html
	<Directory /var/www/Geo-server/html>
		Require all granted
		AllowOverride None
		Options MultiViews ExecCGI
		MultiviewsMatch Handlers
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
	
	#use "production" for production
	SetEnv ENV dev

	WSGIScriptAlias /route /var/www/Geo-server/wsgi_app/route.py
	WSGIScriptAlias /nearest /var/www/Geo-server/wsgi_app/nearest.py
	WSGIScriptAlias /incity /var/www/Geo-server/wsgi_app/incity.py
	WSGIScriptAlias /land /var/www/Geo-server/wsgi_app/land.py
	WSGIScriptAlias /water /var/www/Geo-server/wsgi_app/water.py
	WSGIScriptAlias /route_railway /var/www/Geo-server/wsgi_app/route_railway.py
	WSGIScriptAlias /nearest_railway /var/www/Geo-server/wsgi_app/nearest_railway.py


	WSGIDaemonProcess waronmap.com python-home=/var/www/Geo-server/venv python-path=/var/www/Geo-server/pylibs
	WSGIProcessGroup waronmap.com
</VirtualHost>
