body
{
    background-image: url(/img/bg/2.jpg);
}

.clr
{
    clear: both;
}

#map-block
{
	width: 1024px; 
    height: 768px;
    float: left;
}


#wrap-start
{
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;   
}

#start
{
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 500px;
    position: fixed;
    background-image: url(/img/bg/1.jpg);
    opacity: 1.0;
    border-radius: 10px;
    font-family: Verdana;
    font-size: 18px;
    color: #fff;
    
    text-align: center;    
}

#start table
{
    width: 85%;
}

#start input, #start select 
{
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
} 


button
{
	font-size: 1.2em;
	padding: 3px;
	font-family: Verdana;
	z-index:2;
}

.log-message
{
    margin-top: 5px;
    width: 1024px;
    height: 100px;
    background-color: #000;
    color: #ccc;
    overflow: scroll;
}

select.select
{
	font-size: 1.2em;
	float: left;
	padding: 3px;
	font-family: Verdana;
}

.service
{
	margin-right: 3px;
}

#preloader
{
	position: absolute;
	top: 350px;
	left: 400px;
	z-index:1;
	display:none;
}

.time-label
{
	padding: 3px;
	font-size: 1.2em;
	color: #ff0;
	font-family: Verdana;
	background-color: #000;
}

hr
{
	width: 1024px;
	margin-left: 0;
	background-color: #ccc;
}

.rad
{
	border-radius: 5px;
}

.clr
{
	clear: both;
}

.task
{
    width: 300px;
    float: left;
    padding-top: 200px;
}

.task input
{
	width: 20px;
	height: 15px;
}

.task label
{
	color: #eee;
	font-family: Verdana;
	font-size: 1.0em;
}

.title
{
	color: #fff;
	text-decoration: underline;
}
